body{
	margin: 0;
	padding: 0;
	background-size: cover;
}

/* wrapper to have a white transparent background but not transparent font and videos*/
.wrapper{
	margin: auto;
	background-color:rgba(256,256,256,0.4);
	width: 100rem;
	margin-top: 5rem;
	text-align: center;
	padding: 2rem;
	height: 50rem;
}


.page-header{
	width: 100rem;
	margin: 0;
}

/*making choices bigger and easier to read*/
.choice{
	width: 70rem;
	margin: auto;
	padding: 1rem;
	margin-bottom: 2rem;
	background-color: gray;
}

/* different pages to help hide and show each page of the trivia game. These pages are hidden at first cause we dont need it at the begining*/
.aPage{
	display: none;
}

.qPage{
	display: none;
}

.gameOver{
	display: none;
}

/*start button in the start page*/
.btn-danger{
	padding: 4rem;
	font-size: 4rem;
	margin: 10rem;
}

/*restart button in the game over page*/
.btn-primary{
	padding: 4rem;
	font-size: 4rem;
}

footer{
	font-size: 2rem;
	color: black;
	font-weight: bold;
	text-align: center;
}
